# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
/backend/coverage
/frontend/coverage

# production
/backend/build
/frontend/build

# seed data
/backend/seedData/

# misc
/backend/.DS_Store
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log
/frontend/.idea

/frontened/stats.json

npm-debug.log*
yarn-debug.log*
